.card {
    width: 32.5%;
    display: block;
}

.card:hover {
    transition-duration: 0.3s;
    opacity: 0.8;
}

.card__picture {
    max-width: 100%;
}

.card__text-item {
    list-style: none;
    font-family: var(--roboto);

}

.item-description {
    font-size: 12px;
    line-height: 16px;
    color: var(--colorTextHeader);
}

.item-title {
    font-size: 20px;
    line-height: 27px;
    color: var(--colorTextCard);
}

.item-price {
    font-size: 16px;
    line-height: 22px;
    color: var(--colorTextCardPrice);
}

.card__text-item:hover {
    transition-duration: 0.3s;
    color: var(--colorTextCardHover);
    cursor: pointer;
}