.card {
    width: 31.2%;
    display: block;
}

.card:hover {
    transition-duration: 0.3s;
    opacity: 0.8;
}

.card-picture {
    max-width: 100%;
}

.card-text__description {
    font-size: 12px;
    line-height: 16px;
    font-family: var(--roboto);
    padding-top: 10px;
    color: var(--colorTextHeader);
}

.card-text__title {
    font-size: 20px;
    line-height: 27px;
    font-family: var(--roboto);
    padding-top: 10px;
    color: var(--colorTextCard);
}

.card-text__price {
    font-size: 16px;
    line-height: 22px;
    font-family: var(--roboto);
    padding-top: 10px;
    color: var(--colorTextCardPrice);
}

.card-text__description:hover {
    transition-duration: 0.3s;
    color: var(--colorTextCardHover);
    cursor: pointer;
}

.card-text__title:hover {
    transition-duration: 0.3s;
    color: var(--colorTextCardHover);
    cursor: pointer;
}

.card-text__price:hover {
    transition-duration: 0.3s;
    color: var(--colorTextCardHover);
    cursor: pointer;
}