.header {
    border-bottom: var(--box-shadow);
}

.header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    background: var(--white);
    padding-left: 30px;
    padding-right: 15px;
}

.header__logo {
    display: flex;
    height: 30px;
    width: 30px;
}

.header__navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--roboto);
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: var(--colorTextHeader);
    padding-left: 40px;
    background-color: var(--white)
}

.header__link_logoUsers {
    height: 30px;
    width: 30px;
}

.header__link:hover {
    color: var(--lightgrey);
    transition-duration: 0.3s;
}

.header__link_ellipse {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.header__link_logoUsers:hover {
    transition-duration: 0.3s;
    opacity: 0.7;
}