.footer-wrapper {
    margin: 0 auto;
    width: 946px;
}

.footer {
    padding-top: 48px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    width: 31.2%;
}

.footer-section__title {
    font-weight: bold;
    list-style: none;
    padding-bottom: 20px;
}

.footer-section__item {
    list-style: none;
    padding-bottom: 10px;
}

.footer-section__linc {
    text-decoration: none;
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 19px;
    color: var(--colorTextHeader);
    padding-bottom: 10px;
}

.footer-section__linc:hover {
    transition-duration: 0.3s;
    opacity: 0.8;
}