.mainHeading {
    padding-bottom: 46px;
}

.mainHeading-title {
    display: flex;
    justify-content: center;
    font-family: var(--roboto);
    color: var(--colorTextHeader);
    font-size: 36px;
    line-height: 49px;
}